<p id="notice"><%= notice %></p>

<nav>

  <%= link_to 'Search', pages_search_path %>
  <p>Reservation for user: <%= @user.name %></p>
</nav>

<h3>Flight details</h3>
<p>
  <strong>
    <%= "#{@flight.date} Flight #{@flight.number} #{@flight.origin} > #{@flight.destination}"  %>
  </strong>
</p>
<p>
  <strong>Rows</strong>
  <%= @flight.airplane.rows %>
</p>
<p>
  <strong>Columns</strong>
  <%= @flight.airplane.columns %>
</p>
<p>
  <strong>Capacity</strong>
  <%= @flight.capacity %> seats
</p>
<p>
  <strong>Remaining</strong>
  <%= @flight.remaining %> seats
</p>

<hr>

<h3>Flight reservations</h3>

<table>
  <th>User</th>
  <th>Row</th>
  <th>Col</th>
  <th>Seat</th>
  <% @flight.reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.user.name %></td>
      <td><%= reservation.row %></td>
      <td><%= reservation.column %></td>
      <td><%= reservation.seat %></td>
    </tr>
  <% end %>
</table>

<p>Seats taken: <%= @flight.seats_taken %></p>

<hr>

<h3>New reservation</h3>

<%= form_for([@flight, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

  <!-- <div class="field">
    <%= f.label :row %><br>
    <%= f.number_field :row %>
  </div>
  <div class="field">
    <%= f.label :column %><br>
    <%= f.number_field :column %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->

<% end %>

<hr>
<h3>Sets Map</h3>

<div id="holder">
      <ul  id="place">
      </ul>
  </div>
</div>

<script>
//Get the data fom the Json
//Filght Id
//colums  rows from json id



var cols = <%= @flight.airplane.rows %>+1;
var rows =<%= @flight.airplane.columns %> + 1;


var settings = {
  rowCssPrefix: 'row-',
  colCssPrefix: 'col-',
  seatWidth: 35,
  seatHeight: 35,
  seatCss: 'seat',
  selectedSeatCss: 'selectedSeat',
  selectingSeatCss: 'selectingSeat',
  columHeader: ['ALERT', 'A', 'B', 'C', 'D', 'E', 'F']
};

var createTable = function(reservedSeat) {
  var str = [],
    seatNo, className;
  for (var i = 1; i < rows; i++) {
    for (var j = 1; j < cols; j++) {

      seatNo = (i);
      collumId = settings.columHeader[j];
      seatId = (seatNo + collumId);
      passanger = [j.toString(), i.toString()];
      console.log(passanger);


      className = settings.seatCss + ' ' + settings.rowCssPrefix + i.toString() + ' ' + settings.colCssPrefix + j.toString();

      if ($.isArray(passanger) && $.inArray(seatNo, passanger) != -1) {
        className += ' ' + settings.selectedSeatCss;
      }

      str.push('<li class="' + className + '"' +
        'style="top:' + (i * settings.seatHeight).toString() + 'px;left:' + (j * settings.seatWidth).toString() + 'px">' +
        '<a title="' + seatId + '">' + "name"+" </p>" + seatId + '</a>' +
        '</li>');

    }

  }

  $('#place').append(str.join(''));


};
//AirPlane Create
$(document).ready(function() {
  createTable(5);

});




//THIS FUNCTION BLOCKS THE SELECTION IF IS ALREDY BOOKED
$('.' + settings.seatCss).click(function() {

  if ($(this).hasClass(settings.selectedSeatCss)) {
    alert('This seat is already reserved');
  } else {
    $(this).toggleClass(settings.selectingSeatCss);

  }
});


//THIS FUNCTION WILL SHOW THE PPREVOIUS BOOKINGS + NEW
$('#btnShow').click(function() {
  var str = [];

  $.each($('#place li.' + settings.selectedSeatCss + ' a, #place li.' + settings.selectingSeatCss + ' a'), function(index, value) {
    str.push($(this).attr('title'));
  });
  var alert = (str.join(','));
  console.log("This seats are taken: " + alert);
});

//THIS FUNCTION WILL SHOW ONLY THE  NEW BOOKINGS

$('#btnShowNew').click(function() {
  var str = [],
    item;
  $.each($('#place li.' + settings.selectingSeatCss + ' a'), function(index, value) {
    item = $(this).attr('title');
    str.push(item);
    $('#selector span').html(item);



  });
  alert(str.join(','));

});

</script>
