<%= form_for(@airplane) do |f| %>
  <% if @airplane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@airplane.errors.count, "error") %> prohibited this airplane from being saved:</h2>

      <ul>
      <% @airplane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Plane Model:" %><br>
    <%= f.text_field :name, required: true %>
  </div>
  <div class="field">
    <%= f.label "Rows (max 30):" %><br>
    <%= f.number_field :rows, required: true %>
  </div>
  <div class="field">
    <%= f.label "Columns(max 7):" %><br>
    <%= f.number_field :columns, required: true %>
  </div>

  <div class="actions">
    <%= result = f.submit %>
    <!-- <%#= result = f.submit %> -->
  </div>

<% end %>


<button id="save">Save</button>

<button id="cancel">Cancel</button>
