<p id="notice"><%= notice %></p>

<h2>Search flights</h2>

<input type="text" placeholder="origin">
<input type="text" placeholder="destination">
<button>Search flight</button>

<p style="color: red"><em>Search placeholder above. User should be able to select from dropdown origin and destination and press search. After pressing search filtered results should display below. For now all results have been displayed</em></p>

<h3>Flights</h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Flight</th>
      <th>From > To</th>
      <th>Plane</th>
      <th>Capacity</th>
      <th>Remaning</th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.date.strftime("%b %d, %Y") %></td>
        <td><%= link_to flight.number, flight_path(flight) %></td>
        <td><%= "#{flight.origin} > #{flight.destination}" %></td>
        <td><%= flight.airplane.name %></td>
        <td><%= flight.capacity %></td>
        <td><%= flight.remaining %></td>
      </tr>
    <% end %>
  </tbody>
</table>
